<%include partials/header%>
<!DOCTYPE html>
<html>
    <head>
        <title>Crime Rate Detection Using Geospatial methods</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
        <!-- <script src="https://kit.fontawesome.com/888f4e8ad5.js" crossorigin="anonymous"></script> -->
        <style>
            .animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  position: relative;
  top:50px;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
        </style>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>

    <body id="landing" class="container" style="background-image: url(https://i0.wp.com/larsfosdal.blog/wp-content/uploads/2017/04/Geocoding2BAPI-w.txt_.gif?w=1100);width: 100%;height: 100%;background-repeat: no-repeat;background-size: 100%;">


    <div id="landing-header">

        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h3 class="animate-charcter"> Crime Rate Detection Using Geospatial methods</h3>
            </div>
          </div>
        </div>


    <!-- <h1 style="text-align: center; font-size: 50px; font-family: georgia; margin-top: 100px">Crime Rate Detection Using Geospatial methods </h1> -->

		<h3 style="text-align: center; font-size: 50px; font-family: georgia; margin-top: 100px; margin-bottom: 20px"> Because you must look before you leave !  </h3>
<center>
    
    <!-- <button class="btn btn-primary"> LOGIN</button> -->
    <i class="fa-duotone fa-bus-alt" style="--fa-primary-color: gold;"></i>
<!-- <a href="/login" class="ui secondary button large" style="text-align: center;">Login</a> -->
<i class="fa fa-map-marker" style="text-align: center;top: 180px;position: relative;font-size: 50px ; background-color: whitesmoke;border-radius: 20px;" aria-hidden="true"> <a style="text-decoration: none;" href="/maps" >MAP</a></i>
<i class="fa fa-map-marker" style="text-align: center;left:30px; top: 180px;position: relative;font-size: 50px ; background-color: whitesmoke;border-radius: 20px;" aria-hidden="true"> <a style="text-decoration: none;" href="/heatmap/" >Heatmap</a></i>
<i class="fa fa-map-marker" style="text-align: center;left:40px; top: 180px;position: relative;font-size: 50px ; background-color: whitesmoke;border-radius: 20px;" aria-hidden="true"> <a style="text-decoration: none;" href="/report" > Report</a></i>
<!-- <a href="/maps" class="ui secondary button large" style="text-align: center;top: 160px;position: relative;font-size: 30px; ">MAP</a> -->
<!-- <a href="/signup" class="ui secondary button large" style="text-align: center">Sign Up</a> -->
</center>
<p  style="text-align: center;bottom: 0px;position: absolute;font-size: 30px ; background-color: whitesmoke;border-radius: 20px;--fa-primary-color: orangered;"aria-hidden="true"> Done by Shadman , Aimon , Shraddha and Rashmitha</p>
</div>


    </div>


</body>
</html>
